[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-slim"]
	path = vim/vim.symlink/bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
